.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 2em;
  margin: 2em;

  > mat-card {
    width: 18em;
    height: 18em;
    padding: 1em;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    cursor: pointer;
    transition: ease-in 50ms;

    &:hover {
      transform: scale(1.05);
      transition: ease-in 50ms;
    }

    span {
      font-size: 1.5em;
    }

    mat-icon {
      width: 100%;
      height: 100%;
      font-size: 8em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}