<div class="container">
	<mat-card class="mat-elevation-z4" routerLink="/profil">
		<span>Mon profil</span>
		<mat-icon>person</mat-icon>
	</mat-card>
	<mat-card class="mat-elevation-z4" routerLink="/activity">
		<span>Nouvelle activité</span>
		<mat-icon>add</mat-icon>
	</mat-card>
	<mat-card class="mat-elevation-z4" routerLink="/exercises">
		<span>Liste des exercices</span>
		<mat-icon>fitness_center</mat-icon>
	</mat-card>
</div>