.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;

  .mat-list {
    padding: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;

    .mat-list-item {
      background-color: #1C2C48;
      padding: 0.5em;
      display: flex;
      flex-wrap: wrap;

      p {
        color: #FFFFFF;
      }

      .type-label {
        opacity: 65%;
        margin-left: 0.5em;
      }

      &:hover, &.selected {
        cursor: pointer;
        background: #673ab7;
        transform: scale(1.05);
        transition: 50ms ease-in;
      }
    }
  }

  .detail {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
