<div class="container">
	<mat-list *ngIf="exercises">
		<mat-list-item *ngFor="let exercise of exercises" [class.selected]="exercise === selectedExercise"
									 (click)="onSelect(exercise)" (mouseenter)="onSelect(exercise)">
			<p>{{exercise.name}}</p>
			<p class="type-label">{{exercise.type.label}}</p>
		</mat-list-item>
	</mat-list>

	<div class="detail">
		<app-exercices-detail [exercise]="selectedExercise"></app-exercices-detail>
	</div>
</div>
  