<div class="container">
	<mat-card>
		<form [formGroup]="loginForm" class="form">
			<mat-form-field class="form__mail">
				<mat-label>Adresse mail</mat-label>
				<input formControlName="email" matInput placeholder="Adresse mail">
			</mat-form-field>
			<mat-form-field class="form__password">
				<mat-label>Mot de passe</mat-label>
				<input formControlName="password" matInput placeholder="Mot de passe" type="password">
			</mat-form-field>
			<button mat-stroked-button type="submit" (click)="login('mail')" [disabled]="loading || !online">Se connecter
			</button>
			<span *ngIf="errorMsg" class="error">{{errorMsg}}</span>
		</form>
		<span *ngIf="!loading">ou</span>
		<mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
		<button mat-stroked-button (click)="login('guest')" [disabled]="loading">Continuer en tant qu'invité</button>
	</mat-card>
</div>