<mat-toolbar class="header" color="primary">
	<div class="header__left">
		<button mat-icon-button (click)="sidenav.toggle()" aria-label="Open / close sidenav">
			<mat-icon>menu</mat-icon>
		</button>
		<span routerLink="/accueil" class="header__left__name">Modelia</span>
	</div>
	<div class="header__center">
		<mat-icon *ngIf="online" matTooltip="Vous êtes connecté à internet, toutes les fonctionnalités sont disponibles.">
			wifi_on
		</mat-icon>
		<mat-icon *ngIf="!online"
							matTooltip="Vous n'êtes pas connecté à internet, certaines fonctionnalités ne sont donc pas disponibles.">
			wifi_off
		</mat-icon>
	</div>
	<div class="header__right">
		<div class="header__right__dark-mode">
			<mat-slide-toggle (change)="onToggleChanged($event)" [checked]="isDark">
				<mat-icon>dark_mode</mat-icon>
			</mat-slide-toggle>
		</div>
		<div class="header__right__user" *ngIf="user" routerLink="/profil">
			<span>{{user.name}}</span>
			<mat-icon *ngIf="isGuest">account_circle</mat-icon>
		</div>
	</div>
</mat-toolbar>

<mat-sidenav-container class="main" autosize>
	<mat-sidenav #sidenav class="sidenav" mode="over" role="navigation">
		<div *ngIf="user" class="sidenav__element" routerLink="/accueil" (click)="sidenav.toggle()">
			<mat-icon>home</mat-icon>
			<span>Accueil</span>
		</div>
		<div *ngIf="user" class="sidenav__element" routerLink="/profil" (click)="sidenav.toggle()">
			<mat-icon>person</mat-icon>
			<span>Mon profil</span>
		</div>
		<div *ngIf="user" class="sidenav__element" routerLink="/activity" (click)="sidenav.toggle()">
			<mat-icon>add</mat-icon>
			<span>Nouvelle activité</span>
		</div>
		<div *ngIf="user" class="sidenav__element" routerLink="/exercises" (click)="sidenav.toggle()">
			<mat-icon>fitness_center</mat-icon>
			<span>Exercices</span>
		</div>
		<div *ngIf="(user && isGuest) || !user" class="sidenav__element" routerLink="/login" (click)="sidenav.toggle()">
			<mat-icon>login</mat-icon>
			<span>Connexion</span>
		</div>
		<div *ngIf="user && !isGuest" class="sidenav__element" (click)="logout()">
			<mat-icon>logout</mat-icon>
			<span>Déconnexion</span>
		</div>
		<div *ngIf="user && isGuest" class="sidenav__element" (click)="clearSession()">
			<mat-icon>clear</mat-icon>
			<span>Effacer la session</span>
		</div>
	</mat-sidenav>

	<mat-sidenav-content role="main" class="content">
		<mat-spinner *ngIf="loading"></mat-spinner>
		<router-outlet *ngIf="!loading"></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

