.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 8fr;

  &__header {
    display: grid;
    grid-template-columns: 1fr 10fr;
    column-gap: 0.5em;
    padding: 1em;

    &__pic {
      display: flex;
      justify-content: center;
      align-items: center;
      .mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 600%;
      }
      img {
        width: 100%;
        border-radius: 100%;
      }
    }

    &__text {
      display: grid;
      grid-template-rows: 1fr 3fr;
      align-items: stretch;

      &__names {
        display: flex;
        column-gap: 5px;
        align-items: center;
        .name {
          font-size: 1.5em;
          font-weight: bold;
        }

        .username {
          font-style: italic;
          color: #5a5d51;
        }
      }
    }
  }

  .tab-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}