<div class="container">
	<mat-spinner *ngIf="loading"></mat-spinner>

	<div *ngIf="user && !loading" class="profile">
		<div class="profile__header">
			<div class="profile__header__pic">
				<img *ngIf="user.picture" [src]="user.picture" alt="Photo de profil">
				<mat-icon *ngIf="!user.picture">account_circle</mat-icon>
			</div>
			<div class="profile__header__text">
				<div class="profile__header__text__names">
					<span class="name">{{user.name}}</span>
					<span class="username">@{{user.username}}</span>
				</div>
				<span class="profile__header__text__desc">{{user.description}}</span>
			</div>
		</div>
		<mat-tab-group mat-stretch-tabs class="profile__tabs">
			<mat-tab class="profile__tabs__models">
				<ng-template mat-tab-label>
					<span>{{models.length}} modèle(s)</span>
				</ng-template>
				<div class="tab-container">
					<button mat-stroked-button routerLink="/activity" *ngIf="!models || models.length === 0"
									style="margin:5em">Nouveau
						modèle
					</button>
					<app-activity-summary *ngFor="let model of models" [activity]="model"></app-activity-summary>
				</div>
			</mat-tab>
			<mat-tab class="profile__tabs__history">
				<ng-template mat-tab-label>
					<span>{{trainings?.length}} séance(s)</span>
				</ng-template>
				<div class="tab-container">
					<button mat-stroked-button routerLink="/seance" *ngIf="!trainings || trainings.length === 0"
									style="margin:5em">Nouvelle
						séance
					</button>
					<app-activity-summary *ngFor="let training of trainings" [activity]="training"></app-activity-summary>
				</div>
			</mat-tab>
			<mat-tab class="profile__tabs__likes" *ngIf="user.id !== 'guest'">
				<ng-template mat-tab-label>
					<span>{{user.likedModels?.length}} like(s)</span>
				</ng-template>
				<div class="tab-container">
					<span *ngIf="!trainings || trainings.length === 0" style="margin:5em">Aucun j'aime</span>
					<app-activity-summary *ngFor="let model of user.likedModels" [activity]="model"></app-activity-summary>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
