<mat-card class="container">
	<div class="labels">
		<span class="label">{{activity.type === 'model' ? 'Modèle' : 'Séance'}}</span>
		<span class="label" *ngFor="let category of activity.categories">{{category.name}}</span>
	</div>
	<div class="creator">
		<img *ngIf="activity.creator.picture" [src]="activity.creator.picture" alt="Photo de profil">
		<mat-icon *ngIf="!activity.creator.picture">account-circle</mat-icon>
		<span class="name">{{activity.creator.name}}</span>
		<span class="username">@{{activity.creator.username}}</span>
	</div>
	<span class="title">{{activity.title}}</span>
	<span>{{formatDate(activity.creationDate)}}</span>
	<div class="data">
		<div *ngFor="let exo of activity.content">
			<span>{{exo.series.length}} x {{exo.exercise.name}}</span>
			<span *ngIf="activity.type === 'training'">{{findBestSerie(exo.series)}}</span>
		</div>
	</div>
</mat-card>
