.container {
  margin: 0.5em;
  width: 97%;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;

  .labels {
    display: flex;
    column-gap: 0.3em;

    .label {
      background-color: dodgerblue;
      color: white;
      padding: 2px;
      border-radius: 4px;
    }
  }

  .creator {
    display: flex;
    align-items: center;
    column-gap: 0.3em;
    img {
      width: 3em;
      border-radius: 3em;
    }
    .mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
    }
    .name {
      font-size: 1.3em;
    }
    .username {
      color: #6e6e6e;
    }
  }

  .title {
    font-weight: bold;
  }

  .data {
    display: flex;
    flex-direction: column;
  }
}